.person-name {
  color: gray;
  margin-top: 0;
}

.person-title {
  color: rgb(167,167,167);
}

.my-header {
	display: flex;
}

.logo-image {
	width: 30%;
}

.cursor-pointer {
	cursor: pointer;
}

@media screen and (max-width: 991px) {
	.person-container,
	.logo-container {
		width: 50%;
	}

	.person-name {
		font-size: 2em;
	}

	.person-title {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 620px) {
	.person-container {
		width: 66.666666%;
	}

	.logo-container {
		width: 33.333333%;
	}

	.logo-image {
		width: 80%;
	}

	.person-name {
		font-size: 1.5em;
	}

	.person-title {
		font-size: 1em;
	}
}
