.person-name {
  color: gray;
}

.person-title {
  color: rgb(167,167,167);
}

.my-header {
	display: flex;
}

@media screen and (max-width: 991px) {
	.person, 
	.logo {
		width: 50%;
	}

	.person-name {
		font-size: 2em;
	}

	.person-title {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 620px) {
	.person {
		width: 66.666666%;
	}

	.logo {
		width: 33.333333%;
	}

	.logo-image {
		width: 61%;
	}

	.person-name {
		font-size: 1.5em;
	}
	
	.person-title {
		font-size: 1em;
	}
}
