<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		
		<title>Jonathan's Manage Documents page</title>

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <style>
        body { padding-top:50px; }
    </style>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>

	</head>
	<body>

	<div class="container" ng-app="tableApp" ng-controller="mainController">
  
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search a book" ng-model="searchBook">
      </div>      
    </div>
  </form>
  
  <table class="table table-bordered table-striped">
    
    <thead>
      <tr>
        <td>
          <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
          Document name 
							<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'type'; sortReverse = !sortReverse">
          Document type 
						<span ng-show="sortType == 'type' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'type' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'author'; sortReverse = !sortReverse">
          Author 
						<span ng-show="sortType == 'author' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'author' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
				<td>
          <a href="#" ng-click="sortType = 'created'; sortReverse = !sortReverse">
          DateCreated 
						<span ng-show="sortType == 'created' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'created' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
				<td>
          <a href="#" ng-click="sortType = 'comments'; sortReverse = !sortReverse">
          Comments 
						<span ng-show="sortType == 'comments' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'comments' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="book in books | orderBy:sortType:sortReverse | filter:searchBook">
        <td><a href="{{ book.name }}" style="color: blue;">{{ book.name }}</a></td>
        <td>{{ book.type }}</td>
        <td>{{ book.author }}</td>
				<td>{{ book.created }}</td>
				<td>{{ book.comments }}</td>
      </tr>
    </tbody>
    
  </table>
   
</div>
	</body>
</html>